.category-item{
    padding: 10px 0px 10px 10px;
    margin-top: 5px;
    background:#ffff;
    color:#acacac;
}
.category-wrapper{
 background-color: #f6f6f6;
}
.category-main{
    list-style: none;
    padding: 10px 10px 10px 10px;
}